#board {
    background-image: url("assets/board.svg");
    height: 100%;
    pointer-events: none;
    position: relative;
    width: 100%;
}
#board>*>* {
    background-size: cover;
    height: 12.5%;
    position: absolute;
    width: 12.5%;
}
#moves {
    height: 100%;
    position: absolute;
    width: 100%;
}
#moves>*, .clickable {
    cursor: pointer;
    pointer-events: auto;
}
#pieces {
    height: 100%;
    position: absolute;
    width: 100%;
}
.capture {
	background-image: url("assets/capture.svg");
}
.check {
    background-image: radial-gradient(#e60000 25%, rgba(0, 0, 0, 0) 90%);
    /* filter: drop-shadow(0 0 12.5px red); */
}
.last-move {
    background-color: rgba(155, 200, 0, 0.4);
}
.move {
	background-image: url("assets/move.svg");
}
.selected {
    background-color: rgba(20, 85, 30, 0.5);
}