#board>*>* {
    background-size: cover;
    height: 12.5%;
    position: absolute;
    width: 12.5%;
}
#moves, #pieces, #special {
    height: 100%;
    position: absolute;
    width: 100%;
}
#moves>*, .active {
    cursor: pointer;
    pointer-events: auto;
}

/* Special */
#selected {
    background-color: rgba(20, 85, 30, 0.5);
}
.check {
    background-image: radial-gradient(#e60000 25%, rgba(0, 0, 0, 0) 90%);
}
.last {
    background-color: rgba(155, 200, 0, 0.4);
}

/* Moves */
.n, .b, .p, .k, .q {
	background-image: url("assets/move.svg");
}
.e, .c, .pc {
	background-image: url("assets/capture.svg");
}