.player>* {
	display: inline;
	vertical-align: middle;
}
.player>h2 {
	color: white;
}
.player>img {
	height: 24px;
}
.player>p {
	color: darkgrey;
}
#banner {
    background-color: darkgreen;
	margin-top: 8px;
    padding: 8px;
}
#container {
    margin: 8px 25%;
}
#move-count {
    float: right;
}
body {
    background-color: #252525;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}
#fen {
    background-color: #252520;
    border: 1px solid #404040;
    box-sizing: border-box;
    color: #ccc;
    margin-top: 8px;
    padding: 8px;
    width: 100%;
}
strong {
	color: #fff;
}