body {
	background-color: #646464;
	margin: 32px;
}
img {
	display: block;
	width: 100%;
}
h1 {
	margin: 0;
}
p {
	margin: 0;
}
table {
	border-spacing: 0;
	cursor: pointer;
	margin: 0 auto;
}
td {
	background-color: #f0d9b5;
	padding: 0;
	text-align: center;
	width: 10vmin;
}
td.dark {
	background-color: #b58863;
}
td.dark.selected {
	background-color: #646f40;
}
td.selected {
	background-color: #829769;
}
tr {
	height: 10vmin;
}
/* img.check {
	filter: drop-shadow(0 0 8px red);
}
input[type=text] {
	width: 320px;
} */